<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension point="org.eclipse.jet.transform">
        <transform startTemplate="templates/main.jet" templateLoaderClass="org.eclipse.jet.compiled._jet_transformation">
            <description>%Plugin.description</description>
            <tagLibraries>
                <importLibrary autoImport="true"
                    id="org.eclipse.jet.controlTags" usePrefix="c"/>
                <importLibrary autoImport="true"
                    id="org.eclipse.jet.javaTags" usePrefix="java"/>
                <importLibrary autoImport="true"
                    id="org.eclipse.jet.formatTags" usePrefix="f"/>
                <importLibrary autoImport="false"
                    id="org.eclipse.jet.workspaceTags" usePrefix="ws"/>
            </tagLibraries>
        </transform>
    </extension>
    <extension point="com.ibm.etools.patterns.Pattern">
        <resourceloader
            class="com.ibm.RESTAPIPattern.pattern.PatternMessages" id="com.ibm.RESTAPIPattern.pattern"/>
        <pattern doc="com.ibm.RESTAPIPattern.doc/pattern/overview.htm"
            id="com.ibm.RESTAPIPattern.pattern"
            name="%com.ibm.RESTAPIPattern.pattern.displayName"
            parentPatternId="categories.Id1501d54f700d152e4aac7d482c4"
            povMetaXML="pattern/paramsmeta.xml"
            povSchema="pattern/params.xsd"
            povdoc="com.ibm.RESTAPIPattern.doc/pattern/parameters.htm"
            productId="com.ibm.etools.msgbroker.tooling.ide"
            resourceLoaderId="com.ibm.RESTAPIPattern.pattern" transformId="com.ibm.RESTAPIPattern"/>
        <pattern
            doc="com.ibm.RESTAPIPattern.doc/categories/Id1501d54f700d152e4aac7d482c4/overview.htm"
            id="categories.Id1501d54f700d152e4aac7d482c4"
            name="%categories.Id1501d54f700d152e4aac7d482c4.displayName"
            parentPatternId="com.ibm.etools.pattern" productId="com.ibm.etools.msgbroker.tooling.ide"/>
    </extension>
    <extension point="org.eclipse.wst.xml.core.catalogContributions">
        <catalogContribution id="default">
            <public publicId="com.ibm.RESTAPIPattern.pattern" uri="pattern/params.xsd"/>
        </catalogContribution>
    </extension>
    <extension id="EditorId14fd2e3bdea356814531be15ef1" point="com.ibm.etools.patterns.ui.PatternEditorTypeContributor">
        <EditorContributor
            EditorId="EditorId14fd2e3bdea356814531be15ef1"
            EditorImpl="com.ibm.etools.mft.pattern.support.edit.extensions.custom.UserDefinedPropertyEditor"
            PluginId="com.ibm.etools.mft.pattern.support.edit"
            argSeparator="," arguments="com.ibm.iib.RESTAPIPattern.code|com.ibm.iib.RESTAPIPattern.code.MyEditor||"/>
    </extension>
</plugin>
