{
  "swagger" : "2.0",
  "info" : {
    "description" : "This is a sample swagger",
    "version" : "1.0.0",
    "title" : "Sample Service",
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "A.B.C.D",
  "basePath" : "/v2",
  "schemes" : [ "http" ],
  "paths" : {
    "/object" : {
      "post" : {
        "tags" : [ "object" ],
        "summary" : "Create object",
        "description" : "",
        "operationId" : "createObject",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "objectname",
          "in" : "path",
          "description" : "The object to be created",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The object to be created",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Object"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Object"
            }
          }
        }
      },
      "get" : {
        "tags" : [ "object" ],
        "summary" : "Retrieve object",
        "description" : "",
        "operationId" : "retrieveObject",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "objectname",
          "in" : "path",
          "description" : "The object to be retrieved",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Object"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "object" ],
        "summary" : "Update object",
        "description" : "",
        "operationId" : "updateObject",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "objectname",
          "in" : "path",
          "description" : "The object to be updated",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The object to be updated",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Object"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "schema" : {
              "$ref" : "#/definitions/Customer"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "object" ],
        "summary" : "Delete object",
        "description" : "",
        "operationId" : "deleteObject",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "objectname",
          "in" : "path",
          "description" : "The object to be deleted",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation"
          }
        }
      }
    }
  },
  "definitions" : {
    "Object" : {
      "required" : [ "name" ],
      "properties" : {
        "property1" : {
          "type" : "string"
        },
        "property2" : {
          "type" : "string"
        },
        "property3" : {
          "type" : "string"
        }
      }
    }
  }
}